.button {
    display: inline-block;
    padding: 13px 26px 13px 26px;
    font-size: rem-calc(16);
    line-height: 1.5;
    font-weight: 700;
    color: #fff;
    outline: none;
    min-width: 130px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    transition-property: background, border;
    transition-duration: .5s, .5s;

    background: $green-primary;
    border: 1px solid $green-primary;

    &:visited, &:active, &:focus {
        text-decoration: none;
    }

    &:hover, &:focus {
        background-color: #008800;
        border: 1px solid #008800;
        color: #fff;
        outline: none;
    }

    &.negative {
        background-color: transparent;
        border: 1px solid $orange-primary;
        color: $orange-primary;

        &:hover, &:focus {
            background-color: $orange-primary;
            color: #fff;
        }
    }
}