form:not(#frmDeleteMealBox):not(#frmDeleteRecipe):not(.frm-form) {
    margin: 0 auto;
    width: 100%;
    max-width: rem-calc(600);

    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input {
        &[type="number"] {
            -moz-appearance: textfield;
        }
        &:focus {
            outline: none;
            border: none;
            -webkit-box-shadow: none !important;
            box-shadow: none !important;
        }
    }

    div.form-group {
        label,
        strong {
            font-weight: 600;
        }
        strong {
            line-height: 2;
        }
    }
}
