div.content-wrapper {
    div.main-content {
        div.heading {
            padding-bottom: 12px;
            font-size: 24px;
            font-weight: 700;
        }

        div.support-text {
            strong {
                font-size: 18px;
            }
        }
    }

    div.sidebar-content {

        div.content {
            padding-bottom: 30px;

            div.heading {
                font-weight: 700;
                line-height: 2.7em;
            }

            div.support-text {
                font-size: 14px;
            }

            div.btnReadMore {
                padding-top: 20px;
            }
        }
    }
}

@media #{$small-medium-down} {
    div.content-wrapper {
        div.sidebar-content {
            padding-top: 30px;
        }
    }
}
