div.checkout {

    h1 {
        text-transform: uppercase;
        padding-bottom: 30px;
        ;
    }

    div.address {
        background: #fff;
        padding: 40px;

        div.title {
            font-size: 20px;
            font-weight: 600;
            padding-bottom: 20px;
        }

        form {
            input {
                margin-bottom: 25px;
            }
        }
    }

    .cart-order,
    .billing,
    .payment {
        padding: 20px;
        background-color: #fff;
    }

    .payment {
        margin-top: 30px;
    }

}

body.checkout {
    div.form-wrapper {
        border: 1px solid #e0e0e0;
        padding: 20px;
        margin-bottom: 20px;

        .StripeElement {
            box-sizing: border-box;
            height: 40px;
            padding: 10px 12px;
            border: 1px solid #ced4da;
            ;
            border-radius: 4px;
            background-color: white;
            -webkit-transition: box-shadow 150ms ease;
            transition: box-shadow 150ms ease;
        }

        .StripeElement--focus {
            box-shadow: 0 1px 3px 0 #cfd7df;
        }

        .StripeElement--invalid {
            border-color: #fa755a;
        }

        .StripeElement--webkit-autofill {
            background-color: #fefde5 !important;
        }
    }
}