body.checkout {
    form#payment-form {
        div.form-wrapper {
            border: 1px solid #e0e0e0;
            padding: 20px;
            margin-bottom: 20px;

            .StripeElement {
                box-sizing: border-box;
                height: 40px;
                padding: 10px 12px;
                border: 1px solid #ced4da;
                ;
                border-radius: 4px;
                background-color: white;
                -webkit-transition: box-shadow 150ms ease;
                transition: box-shadow 150ms ease;
            }

            .StripeElement--focus {
                box-shadow: 0 1px 3px 0 #cfd7df;
            }

            .StripeElement--invalid {
                border-color: #fa755a;
            }

            .StripeElement--webkit-autofill {
                background-color: #fefde5 !important;
            }
        }
    }

}