.module.contactsTable {
    table {
        border-collapse: collapse;
        border-radius: 4px;
        width: 100%;
        overflow: hidden;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);

        tr {
            td, th {
                width: 20%;
            }
        }

        thead {
            background-color: $dark-grey;

            tr {
                th {
                    font-size: rem-calc(20);
                    line-height: rem-calc(24);
                    font-weight: 700;
                    color: #fff;
                    text-align: left;
                    padding: 38px 10px;
                }
            }
        }

        &.orange {
            thead {
                background-color: $orange-primary;
            }
        }

        &.blue {
            thead {
                background-color: $blue-primary;
            }
        }

        &.dark {
            thead {
                background-color: $dark-grey;
            }
        }

        tbody {
            tr {
                td {
                    font-size: rem-calc(16);
                    line-height: rem-calc(20);
                    font-weight: 700;
                    padding: 17px 10px;

                    &.mb-title-row {
                        display: none;
                    }
                }

                &.grey {
                    td {
                        background-color: rgba(51, 51, 51, 0.1);
                    }
                }
            }
        }
    }

    @media #{$medium-up} {
        table {
            tr {
                td, th {
                    &:first-child {
                        padding-left: 60px;
                    }

                    &:last-child {
                        padding-right: 60px;
                    }
                }
            }
        }
    }

    @media #{$small-medium-down} {
        table {
            thead {
                position: absolute;
                overflow: hidden;
                width: 1px;

                tr {
                    th {
                        font-size: rem-calc(14);
                        line-height: rem-calc(16);
                        padding: 14px 10px;
                        font-size: 2.5vw;
                        line-height: 2.7vw;
                        padding: 14px 1.4vw;
                    }
                }
            }

            tbody {
                tr {
                    &.grey {
                        td {
                            background-color: rgba(51, 51, 51, 0.1) !important;
                        }

                        td {
                            &.blue {
                                background-color: $blue-primary !important;
                            }

                            &.orange {
                                background-color: $orange-primary !important;
                            }

                            &.dark {
                                background-color: $dark-grey !important;
                            }
                        }

                        td.bg-color:nth-child(even) {
                            background-color:  rgba(255, 255, 255, 0.1)  !important;
                        }
                    }

                    td {
                        display: block;
                        width: 100%;
                        line-height: rem-calc(14);
                        font-size: 16px;
                        line-height: 2.7vw;
                        text-align: right;
                        font-weight: 400 !important;
                        padding: 20px !important;

                        &.blue {
                            background-color: $blue-primary;
                        }

                        &.orange {
                            background-color: $orange-primary;
                        }

                        &.dark {
                            background-color: $dark-grey;
                        }

                        &.bg-color:nth-child(odd) {
                            background-color: rgba(51, 51, 51, 0.1) !important;
                        }

                        &:before {
                            content: attr(data-label);
                            float: left;
                            font-weight: 700 !important;
                        }

                        &.dk-title-row {
                            display: none;
                        }

                        &.mb-title-row {
                            display: block;
                            padding: 20px !important;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}

