body.landing {
    header {
        position: fixed;

        svg {
            path {
                fill: #fff;
            }
        }

        &.fixed {

            svg.svg-cart {
                path {
                    fill: #828282;
                }
            }
        }
    }

    section.hero {
        overflow-x: hidden;

        div.hero-banner {
            height: 100vh;
            width: 100vw;
            display: flex;
            align-items: center;
            justify-content: center;

            #hero-image {
                @include center-background-image;
                height: 100%;
                width: 100%;

                &:after {
                    content: '';
                    display: block;
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    background-color: #000;
                    opacity: 0.4;
                }
            }
        }

        div.contents {
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            max-width: 840px;
            width: -webkit-calc(100% - 40px);
            width: calc(100% - 40px);

            div.content {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                h1 {
                    padding-bottom: 32px;
                    font-size: 48px;
                    color: #fff;
                    text-shadow: 2px 4px 3px rgba(172, 172, 172, 0.3);
                    text-align: center;

                }
            }
        }
    }

    section#how-it-works {
        h2 {
            padding-bottom: 40px;
        }

        .cards {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-gap: 20px;
            margin-top: 30px;

            div.hiw-card {
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                padding: 20px;
                padding-top: 60px;
                // background: #fff;
                background: #dedddd2b;
                color: $green-primary;

                &:before {
                    content: '';
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: $green-primary;
                    position: absolute;
                    top: -8%;
                    width: 48px;
                    height: 48px;
                    font-family: $sourceSerif;
                    font-size: 18px;
                    font-weight: 600;
                    color: #fff;
                    border-radius: 50%;
                }

                &:nth-child(1):before {
                    content: '1';
                }

                &:nth-child(2):before {
                    content: '2';
                }

                &:nth-child(3):before {
                    content: '3';
                }

                &:nth-child(4):before {
                    content: '4';
                }

                h5 {
                    text-transform: uppercase;
                    padding-top: 30px;
                }

                @media (max-width: 767px) {
                    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
                }

            }

            @media (max-width: 992px) {
                grid-template-columns: 1fr 1fr;
                grid-gap: 60px;
            }

            @media (max-width: 767px) {
                grid-template-columns: 1fr;
                grid-gap: 60px;
            }

            @media (max-width: 590px) {
                margin: 0px;
            }
        }

    }

    section#find-recipes {
        h2 {
            padding-bottom: 36px;
        }

        div.card-body {
            display: block;
            position: relative;
            height: 200px;
            text-align: left;


            h4 {
                font-size: 1.2rem;
            }

            a.button {
                position: absolute;
                bottom: 10%;
            }

        }


    }

    section#ingredients {
        text-align: center;

        h1 {
            font-size: 20px;
            font-style: italic;
            font-weight: 300;
            color: $green-primary;
        }

        h2 {
            font-size: 2rem;
            padding-bottom: 26px;
        }

        p {
            padding-bottom: 70px;
        }

        img {
            width: 100%;
        }
    }

    section#get-to-cooking {
        position: relative;
        height: 100vh;
        width: 100%;
        overflow: hidden;

        div.text {
            position: absolute;
            color: #fff;
            top: 30%;
            z-index: 1;
            right: 50%;
            transform: translate(50%, 50%);
            z-index: 15;

            &:nth-child(2) {
                top: 20%;
            }

            h1 {
                font-size: 20px;
                font-style: italic;
                font-weight: 300;
                color: #fff;
            }
        }

        div.overlay {
            height: 100%;
            width: 100%;
            position: absolute;
            left: 0;
            right: 0;
            background: #000;
            opacity: 0.3;
            z-index: 10
        }

        div.hero-video {
            position: absolute;
            z-index: 1;
            height: 100vh;

            video#video {
                position: relative;
                height: 100%;
                width: 100%;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                display: block;
                object-fit: cover;
            }
        }
    }

    section#our-story {
        h2 {
            padding-bottom: 40px;
        }

        .wrapper {
            height: 100vh;
            margin-top: 100px;
            display: grid;
            grid-gap: 10px;
            // grid-template-columns: repeat(auto-fill, minmax(200px, 1fr) ) ;
            grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
            background-color: #fff;
            color: #444;


            @media (max-width: 1200px) {
                grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
            }

            @media (max-width: 994px) {
                grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
            }

            @media (max-width: 767px) {
                display: block;
                height: 100%;
                margin-top: 0px;
            }

            .box {
                background-color: #444;
                color: #fff;
                border-radius: 5px;
                padding: 20px;
                font-size: 150%;

                div.box-text {
                    background: #fff;
                    max-width: 300px;
                    width: 100%;
                    padding: 60px 20px 20px 20px;
                    color: $fontDark;
                    position: relative;

                    &:after {
                        display: block;
                        width: 64px;
                        height: 64px;
                        border-radius: 50%;
                        font-family: $sourceSerif;
                        font-size: 26 px;
                        font-weight: 600;
                        color: #fff;
                        line-height: 58px;
                        text-align: center;
                        background: $yellow-primary;
                        position: absolute;
                        top: -30px;
                        left: 0;
                        right: 0;
                        margin: auto;
                    }

                    h6 {
                        font-size: 18px;
                        font-weight: 600;
                    }

                    p {
                        font-size: 16px;
                        line-height: initial;
                    }

                    @media (max-width: 767px) {
                        max-width: 80%;
                        bottom: -100px;
                        right: 0;
                        left: 0;
                        margin-left: auto;
                        margin-right: auto;
                        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)
                    }
                }

                &.a {
                    grid-column: auto / span 2;
                    grid-row: auto / span 2;
                    @include center-background-image;

                    .box-text {
                        position: absolute;
                        left: 0;
                        margin-top: -62px;

                        &:after {
                            content: '1';
                        }

                        @media (max-width: 767px) {
                            margin-top: 0px;
                        }

                    }

                    @media (max-width: 767px) {
                        position: relative;
                    }
                }

                &.b {
                    .box-text {
                        position: absolute;
                        right: 0;
                        margin-top: -62px;

                        &:after {
                            content: '2';
                        }
                    }
                }

                &.d {
                    .box-text {
                        position: absolute;
                        right: 0;
                        margin-top: 224px;

                        &:after {
                            content: '3';
                        }
                    }
                }

                &.b,
                &.d {
                    grid-column: auto / span 2;
                    @include center-background-image;
                }


                @media (max-width: 767px) {
                    margin-bottom: 200px;
                    height: 60vh;
                    width: 100%;
                    position: relative;
                }

            }


        }
    }

    section#instagram {
        width: 100%;

        h2 {
            padding-bottom: 40px;
        }

        div.owl-slider {
            .owl-nav {
                button {
                    position: absolute;
                    top: 50%;
                    min-width: 60px;
                    transform: translateY(-50%);
                    background: rgba(255, 255, 255, 0.78) !important;

                    &:focus {
                        outline: none;
                    }

                    &.owl-prev {
                        left: 0;
                    }

                    &.owl-next {
                        right: 0;
                    }

                    span {
                        font-size: 70px;
                        position: relative;
                        top: -5px;
                    }

                }
            }

            #owl-demo {
                opacity: 1 !important;
                display: block !important;
                transition: opacity 400ms ease;
            }
        }
    }


    @media screen and (max-width: 767px) {
        section#instagram {
            margin-top: 60px;
        }
    }


}













.owl-stage-outer,
.owl-height {
    height: 100 !important;
}