body.recipes {
    section.meal-tabs {
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 70px;
        align-items: center;
        position: relative;
        text-align: center;

        .meal-tabs-container {
            display: flex;
            flex-direction: row;
            position: fixed;
            top: 90px;
            width: 100%;
            height: 70px;
            background: #fff;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
            z-index: 5;

            &--top {
                position: fixed;
                top: 56px;
            }

            a.meal-tab {
                display: flex;
                justify-content: center;
                align-items: center;
                flex: 1;
                color: #000;
                letter-spacing: 0.1rem;
                transition: all 0.5s ease;
                font-size: 0.8rem;

                &:hover {
                    text-decoration: none;
                    color: white;
                    background: rgba(0, 174, 0, 0.8);
                    transition: all 0.5s ease;
                }

                @media (min-width: 800px) {
                    font-size: 1rem;
                }
            }

            span.meal-tab-slider {
                position: absolute;
                bottom: 0;
                width: 0;
                height: 6px;
                background: $green-primary;
                transition: left 0.3s ease;
            }
        }
    }

    main.meals {
        // margin-top: 100px;
        section.meal-recipes {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100vh;
            position: relative;
            margin-bottom: 80px;

            div.card {
                height: 100%;
            }

            @media (max-width: 787px) {
                height: auto;
            }
        }
    }
}
