div#meal-recipe {
    div.recipe-image {
        @include center-background-image;
        height: 100%;
        width: 100%;
    }

    div.recipe {
        background-color: #ececec;
        padding: 30px 20px;
    }

    div.recipe-content {

        h1 {
            margin: 0;
            padding-bottom: 5px;    
        }

        p {
            &:nth-child(2){
                font-size: .8em;
            }
        }
    }

    div.info {
        div.time, div.servings, div.nutrition {
            display: flex;
            flex-direction: column;
            align-items: center;
            p {
                &:nth-child(2){
                    margin-bottom: 0;
                    font-size: .8em;
                    font-weight: 400;
                    text-transform: uppercase;
                }
                &:nth-child(3){
                    font-size: .7em;
                }

                span {
                    svg {
                        width: 10px !important;
                        height: 10px !important;
                    }
                }
            }
        }
    }

    div.rc-ing {
        margin-top: 50px;
        h1 {
            padding-bottom: 2rem;
        }

        div.ingredients {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 80px;
            justify-items: start;
    
            div.ingredient {
                display: flex;
                flex-direction: column;
                align-items: center;
    
                img {
                    width: 90px;
                    height: auto;
                }
            } 
        }
    }

}