div#meal-recipe {
    div.recipe-image {
        @include center-background-image;
        height: 100%;
        width: 100%;
    }

    div.recipe {
        background-color: #ececec;
        padding: 30px 20px;
    }

    div.recipe-content {
        h1 {
            margin: 0;
            padding-bottom: 5px;
        }

        p {
            &:nth-child(2) {
                font-size: 0.8em;
            }
        }
    }

    div.info {
        div.time,
        div.servings,
        div.nutrition {
            display: flex;
            flex-direction: column;
            align-items: center;

            p {
                &:nth-child(2) {
                    margin-bottom: 0;
                    font-size: 0.8em;
                    font-weight: 400;
                    text-transform: uppercase;
                }

                &:nth-child(3) {
                    font-size: 0.7em;
                }

                span {
                    svg {
                        width: 10px !important;
                        height: 10px !important;
                    }
                }
            }
        }
    }

    div.rc-ing {
        margin-top: 50px;

        h1 {
            padding-bottom: 2rem;
        }

        div.ingredients {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 80px;
            justify-items: start;

            div.ingredient {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-end;

                img {
                    width: 90px;
                    height: auto;
                }
            }
        }
    }

    @media (max-width: 767px) {
        div.recipe-image {
            min-height: 200px;
        }

        div.recipe {
            background-color: transparent;

            div.info {
                flex-flow: row;
            }
        }
    }
}

p.nutrition-info {
    cursor: pointer;
}

div.nutrition-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    height: 100vh;
    width: 100%;
    transition: 2s;
    background: rgba(0, 0, 0, 0.8);

    div.close-nutrition-overlay {
        position: absolute;
        right: 2%;
        top: 2%;
        cursor: pointer;
        transition: 5s;

        &:hover {
            svg {
                path {
                    fill: $yellow-primary;
                }
            }
        }
    }

    div.content {
        position: relative;
        top: 10%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        background: #fff;
        height: 60%;
        width: 60%;
        margin: 0 auto;

        div.info {
            position: relative;
            top: 10%;
            width: 80%;
            // height: 80%;
            margin: 0 auto;
            // border: 1px solid #333;
            // display: grid;
            // grid-template-columns: 1fr 1fr;
        }
    }
}
