div.meal-box-md {

    div.meal-box-info {
        background: #dedddd2b;
        padding: 60px 0;
        position: relative;

        div.price {
            position: absolute;
            top: 0;
            right: 0;

            p {
                font-weight: 400;
                font-size: 12px;

                span {
                    font-size: 22px;
                    letter-spacing: 1px;
                    font-weight: 600;
                }
            }
        }

        div.meal-image {
            @include center-background-image;
            width: 100%;
        }

        div.info {
            padding-left: 45px;

            h1 {
                line-height: 20px;
                text-transform: capitalize;
            }

            h6 {
                padding-top: 30px;
                font-size: 18px;
                font-weight: 600;
            }

            div.delivery,
            div.order-day,
            div.delivery-day {
                display: flex;
                padding-bottom: 10px;

                svg {
                    -webkit-transform: scaleX(-1);
                    transform: scaleX(-1);
                    margin-right: 20px;
                }

                p {
                    font-size: 13px;
                }
            }

            div.weekly-recipes {

                div.days {
                    display: flex;

                    svg {
                        cursor: pointer;

                        &.day-active {
                            g {
                                transition: .3s;
                                fill: $yellow-primary;
                            }
                        }
                    }

                    div {
                        &:first-child {
                            padding-right: 10px;
                        }
                    }

                    text.text {
                        font-size: 12px;
                    }
                }
            }

            div.no-of-people {
                padding-bottom: 30px;

                div.people {
                    display: flex;
                    padding-top: 10px;

                    div.user-icon {
                        display: flex;
                        border: 1px solid #5b5b5b;
                        border-radius: 5px;
                        padding: 16px;
                        margin-right: 20px;
                        cursor: pointer;

                        &.people-active {
                            border: 1px solid $yellow-primary;
                            background: $yellow-primary;
                            transition: .5s;

                            svg {
                                g {
                                    fill: #fff;
                                }
                            }
                        }
                    }
                }
            }

            // div.price {
            //     p {
            //         font-weight: 600;

            //         span {
            //             font-size: 40px;
            //             letter-spacing: 3px;
            //         }
            //     }
            // }
        }

        div.description {
            padding: 60px 60px 0px 60px;
        }
    }

    div.meal-boxes {
        padding: 60px 0px 60px 60px;

        div.boxes {
            padding: 0;
        }
    }

    div.order-details {
        background: #dedddd2b;
        margin-left: 30px;
        padding: 20px;
        height: fit-content;

        h4 {
            text-transform: capitalize;
        }

        p {
            text-align: center;

            &.order-txt {

                span.total-days,
                span.total-persons {
                    font-weight: 400;
                }
            }
        }

        div.icons {
            display: flex;
            justify-content: center;

            div.person,
            div.days {
                display: flex;
                flex-direction: column;
                align-items: center;

                p {
                    font-size: 12px;
                }
            }

            div.person {
                padding-right: 30px
            }
        }

        div.price {
            display: flex;
            align-items: baseline;
            justify-content: space-between;
            padding-bottom: 30px;

            div {
                font-weight: 400;
                font-size: 14px;

                span {
                    font-size: 24px;
                    font-weight: 600;
                    letter-spacing: 2px;
                }
            }
        }

        div.order {
            p {
                display: none
            }

            a.button {
                width: 100%;
                text-decoration: none;
                text-transform: uppercase;
            }
        }
    }


    @media (max-width: 767px) {
        div.mbox {
            padding: 0 60px;

            div.meal-box-info {
                padding: 0;

                div.meal-image {
                    min-height: 200px;
                }

                div.info {
                    padding: 20px 20px 0px 20px;
                }

                div.description {
                    padding: 0px 20px 20px 20px;
                }
            }

            div.meal-boxes {
                padding: 60px 0px;
            }

        }

        div.order-details {
            background: none;
            margin: 0;

            div.icons,
            div.price,
            h4,
            p,
            hr {

                display: none;
            }


            div.order {
                p {
                    display: block
                }

                position: fixed;
                bottom:0;
                z-index: 1;
                width: 100%;
                background: #fff;
                padding: 30px;
                box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18),
                0 4px 15px 0 rgba(0, 0, 0, .15);
            }

            a.btnOrderMeal {}
        }
    }


}

body.meal-box {
    min-height: 100vh;

}