.miscRow {
    padding: 40px 0;

    .flexRow {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .breadcrumbs {
        font-size: rem-calc(13);
        line-height: 1.5;

        .current {
            font-weight: 700;
        }

        .icon {
            font-size: rem-calc(7);
        }
    }

    .printButton {
        font-size: rem-calc(11);
        line-height: 1.5;

        .icon {
            font-size: rem-calc(24);
            vertical-align: middle;
        }
    }

    .tags {
        font-size: 0;

        .tag {
            font-size: rem-calc(16);
            font-weight: 700;
            vertical-align: middle;

            &:not(:last-child) {
                &:after {
                    position: relative;
                    content: '-';
                    margin: 0 6px;
                }
            }
        }

        .icon {
            font-size: rem-calc(22);
            vertical-align: middle;
            margin-right: 6px;
        }
    }

    & + .modulePadding {
        padding-top: 0;
    }

    @media #{$medium-up} {
        .printButton {
            text-align: right;
        }

        .tags {
            text-align: right;
        }
    }

    @media #{$small-medium-down} {
        .printButton {
            display: none;
        }

        .tags {
            margin-top: 20px;
        }
    }
}
