.module.newsList {
    position: relative;
    padding: 0;

    .image {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .content {
        .date {
            font-weight: 600;
        }
    }

    @media #{$medium-up} {
        .image {
            position: absolute;
            top: 0;
            width: 50%;
            height: 100%;
        }

        .content {
            padding-top: 100px;
            padding-bottom: 100px;
        }

        &.pos-right {
            .image {
                right: 0;
            }

            .content {
                padding-right: 50px;
            }
        }

        &.pos-left {
            .image {
                left: 0;
            }

            .content {
                padding-left: 50px;
            }
        }
    }

    @media #{$small-medium-down} {
        .image {
            width: 100%;
            padding-bottom: 56.5%;
            height: 0;
        }

        .content {
            padding-top: 40px;
            padding-bottom: 40px;
        }
    }
}
