.module.postExcerpts {
    .excerptCard {
        margin: 40px 0;

        .card {
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
            padding: 40px 20px;

            .small {
                font-size: rem-calc(12);
                line-height: rem-calc(14);
                margin: 10px 0;
                font-weight: 300;
            }
        }
    }

    .row + .excerptCard {
        margin-top: 10px;
    }
}
