div.max-width {
    max-width: 100vw;

    div.quote-block {
        display: flex;
        justify-content: center;
        background-color: $blue-primary;

        div.quote-content {
            text-align: center;
            color: #fff;

            div.quote-body {
                font-size: 26px;
                font-weight: 700;
            }

            div.title {
                font-size: 14px;
                font-weight: 300;
                padding-top: 20px;

                &.show {
                    display: block;
                }

                &.hide {
                    display: none;
                }
            }
        }
    }
}

@media #{$medium-up} {
    div.max-width {
        div.quote-block {
            div.quote-content {
                padding: 70px;
                width: 70%;
            }
        }
    }

}

@media #{$small-medium-down} {
    div.max-width {

        div.quote-block {
            div.quote-content {
                width: 100%;
                padding: 40px;

                div.quote-body {
                    font-size: 22px;
                }
            }
        }
    }
}
