body.admin-dashboard {
    background-color: #2a2b3d;
    font-family: "Titillium Web", sans-serif;

    nav {

        ul,
        li {
            outline: 0;
            margin: 0;
            padding: 0;
        }
    }

    nav.admin-nav {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 10;
        background-color: #6f6486 !important;
        height: 60px;
        padding: 0.15rem 1rem;
        padding-left: 63px;

        div.navbar-header {
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: space-between;

            li.nav-item {
                list-style: none;
            }

            a.nav-link {
                color: #fff;
            }

            div.dropdown-menu {
                &.menu-visible {
                    display: block;
                    visibility: visible;
                    opacity: 1;
                    transition: opacity 0.5s, transform 0.5s;
                    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
                    transform: scaleX(1) translateZ(0);
                    min-height: 250px;
                    width: 256px;
                    padding: 24px;

                    ul {
                        li {
                            list-style: none;
                            padding-bottom: 10px;

                            &.profile-img {
                                img {
                                    height: 60px;
                                    width: 60px;
                                    float: left;
                                    border-radius: 50%;
                                    margin-right: 10px;
                                }
                            }
                        }
                    }

                    .fa {
                        color: grey;
                        height: 20px;
                        font-size: 14px;
                        width: 20px;
                    }
                }

                button {
                    display: block;
                    width: 50%;
                    position: absolute;
                    bottom: 14px;
                    margin: 0 auto;
                    left: 0;
                    right: 0;
                }
            }
        }
    }

    div.sidebar {
        nav.main-menu {
            background: linear-gradient(45deg, #353d47, #21292e);
            position: fixed;
            top: 0;
            bottom: 0;
            height: 100%;
            left: 0;
            width: 60px;
            overflow: hidden;
            transition: width 0.25s;
            -webkit-transform: translateZ(0) scale(1, 1);
            z-index: 1000;

            &:hover,
            nav.main-menu.expanded {
                width: 250px;
                overflow: visible;
            }

            ul {
                li {
                    position: relative;
                    display: block;
                    width: 250px;
                    height: 60px;

                    &.panel {
                        background-color: #19b5fe;

                        span.nav-text {
                            color: #fff;
                        }
                    }

                    &:hover>a,
                    &:active>a {
                        color: #fff;
                        background-color: #5fa2db;

                        span {
                            color: #fff;
                        }
                    }

                    a {
                        position: relative;
                        display: table;
                        border-collapse: collapse;
                        border-spacing: 0;
                        color: #999;
                        font-family: arial;
                        font-size: 14px;
                        text-decoration: none;
                        -webkit-transform: translateZ(0) scale(1, 1);
                        transition: all 0.1s linear;

                        span.nav-text {
                            position: relative;
                            display: table-cell;
                            vertical-align: middle;
                            width: 190px;
                            font-family: "Titillium Web", sans-serif;
                        }

                        .fa {
                            position: relative;
                            display: table-cell;
                            width: 60px;
                            height: 60px;
                            text-align: center;
                            vertical-align: middle;
                            font-size: 20px;
                            color: #fff;
                        }
                    }
                }
            }

            ul.logout {
                position: absolute;
                left: 0;
                bottom: 0;
            }
        }
    }

    div#contents {
        margin-left: 65px;

        section.statistics {
            margin-top: 25px;
            clear: both;
            color: #ccc;

            div.box {
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                background-position: 80% 60%;
                background-size: cover;
                background-repeat: no-repeat;
                background-color: #313348;
                height: 100%;
                overflow: hidden;
                padding: 15px;
                z-index: 1;

                >i {
                    float: left;
                    color: #fff;
                    border-radius: 50%;
                    width: 60px;
                    height: 60px;
                    line-height: 60px;
                    font-size: 22px;
                }

                div.overlay {
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    top: 0;
                    background: #000;
                    opacity: 0.6;
                }

                div.avatar {
                    padding: 30px;
                    border-radius: 50%;
                    background: rgba(0, 0, 0, 0.3);
                    position: relative;
                    z-index: 10;
                }

                h6,
                p,
                button {
                    position: relative;
                    font-family: "Titillium Web", sans-serif;
                    font-weight: 400;
                    z-index: 10;
                }

                h6 {
                    padding-top: 20px;
                }

                p {
                    font-size: 12px;
                    font-weight: 100;
                    text-align: center;
                }

                button {
                    font-size: 14px;
                }
            }
        }

        section.status {
            color: #eee;
            margin-top: 40px;

            div.box {
                position: relative;
                padding: 15px;
                overflow: hidden;
                border-radius: 3px;
                margin-bottom: 25px;

                &.warning {
                    background-color: #f0ad4e;
                }

                &.danger {
                    background-color: #d9534f;
                }

                &.success {
                    background-color: #5cb85c;
                }

                h3 {
                    &:after {
                        content: "";
                        height: 2px;
                        width: 70%;
                        margin: auto;
                        background-color: rgba(255, 255, 255, 0.12);
                        display: block;
                        margin-top: 10px;
                    }
                }

                p {
                    font-size: 12px;
                    font-weight: 100;
                    text-align: center;
                }

                i {
                    position: absolute;
                    height: 70px;
                    width: 70px;
                    font-size: 22px;
                    padding: 15px;
                    top: -25px;
                    left: -25px;
                    background-color: rgba(255, 255, 255, 0.15);
                    line-height: 60px;
                    text-align: right;
                    border-radius: 50%;
                }
            }
        }
    }

    p.message {
        color: #fff;
        padding-left: 20px;
    }
}

body.adminlogin {
    div.card-body {
        padding: 30px;

        form {
            width: 100%;
        }
    }
}